@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

@import "layout/header";
@import "layout/grid";

@import "components/button";
@import "components/composition";
@import "components/blog-post";

/*
COLORS 
Light-beige: #f4f2e7;
Medium-red: #a83027;
Dark-grey: #12191f;
Light-grey: #6a6a68;
*/

.section-about {
  overflow: visible;
  padding-top: 25rem;
  padding-bottom: 5rem;
  background-color: $color-secondary;
  .paragraph {
    color: $color-white;
    text-align: left;
  }
  .section-about__photo {
    text-align: center;
  }
}


.section-news {
}

.section-stories {
  background-color: $color-secondary;
}
/* Footer */
.footer {
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem; 
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

}