.btn {
  &,
  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      position: relative;
      font-size: $btn-font-size;
      font-weight: 300;
      border: none;
      cursor: pointer;
      transition: all .2s;
      -webkit-clip-path: polygon(2% 7%, 100% 0, 91% 94%, 11% 100%);
      clip-path: polygon(2% 7%, 100% 0, 91% 94%, 11% 100%);
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);

    &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
  }
  
  &:active,
  &:focus {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black,.2);
      outline: none;
  }

  &--red {
    background-color: $color-secondary;
    color: $color-white;

    &::after {
        background-color: $color-secondary;
    }
}
  
  &--white {
      background-color: $color-white;
      color: $color-grey-dark;

      &::after {
          background-color: $color-white;
      }
  }

}