.composition {
  position: relative;

  &__photo {
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: relative;
    z-index: 10;

    &--p1 {
      transform: rotate(-30deg);
      left: 70px;
      top: 35px;
    }

    &--p2 {
      z-index: 20;
    }

    &--p3 {
      transform: rotate(30deg);
      right: 70px;
      top: 35px;
    }

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 30;

      
    }

    &--p1:hover {
      transform: rotate(-20deg) scale(1.05) translateY(-.5rem);
    }

    &--p3:hover {
      transform: rotate(20deg) scale(1.05) translateY(-.5rem);
    }

  }

}