body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-light;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    // letter-spacing: 2rem;
  }

  &--sub {
    font-size: 3rem;
    font-weight: 400;
    // letter-spacing: 1rem;
  }

}

.heading-secondary {
  color: $color-grey-light;
  text-transform: uppercase;
  font-family: 'Bree Serif', serif;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 600;
  }

  &--sub {
    font-size: 4rem;
    font-weight: 600;
  }

}

.heading-tertiary {
  color: $color-white;
  font-size: 3rem;
}

.paragraph {
  font-size: 1.4rem;
  line-height: 2.5rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

}